@model IstanbulNsApp.Resources.DTO.ClientCredentials
@using Microsoft.AspNetCore.Mvc.Localization
@using IstanbulNsApp.Repositories
@inject IHtmlLocalizer<SharedResource> SharedLocalizer
<div class="modal fade" id="exampleModalCenterSuccess" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close mr-3 mt-1" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-12" style="text-align:center">
                            <a class="text-primary" style="font-size:90px;" href="~/uploads/@TempData["ServerResponseSuccessQ"]" ><i class="fas fa-file-pdf"></i></a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" style="text-align:center;">
                            <h4 style="font-size:30px" class="m-3">@SharedLocalizer["Sorğunuzun nəticəsi"]</h4>
                        </div>
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary p-2 m-2" data-dismiss="modal">@SharedLocalizer["Bağla"]</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Xəta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="font-size:20px;">
                @TempData["ServerResponseErrorQ"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary p-2 m-2" data-dismiss="modal">Bağla</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Xəta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @TempData["ServerResponseSuccessQ"]
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary p-2 m-2" data-dismiss="modal">Bağla</button>
            </div>
        </div>
    </div>
</div>

<section id="doctor-main">
    <div class="overlay-service"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading">
                    <h3 style="text-transform:uppercase">@SharedLocalizer["Nəticələr"]</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="contact">
    <div class="bg-left">
        <img src="~/indexlayout/images/bg-2.html" alt="">
    </div>
    <div class="container">
        <div class="row">

            <div class="col-12 col-lg-12 p-0 mb-5" style="margin-top:-7%;">
                <div class="main-contact">
                    <div class="form-message">
                        <div class="heading-form">
                            <h4>Təklif və iradlarınız üçün mesaj yazın.</h4>
                        </div>
                        <form method="post" asp-controller="OnlineTurn" asp-action="GetResult">
                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input asp-for="PhoneNumber">
                            </div>
                            <div class="form-group">
                                <label asp-for="QueryId"></label>
                                <input asp-for="QueryId">
                            </div>
                            <div class="btn-div">
                                <button type="submit" name="submit">Göndər</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section Scripts{
    @if (TempData["ServerResponseErrorQ"] is object)
    {
        <script>
            $("#exampleModalCenter").modal("show");
        </script>
    }
    @if (TempData["ServerResponseSuccessQ"] is object)
    {
        <script>
            $("#exampleModalCenterSuccess").modal("show");
        </script>
    }
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}