@model IstanbulNsApp.Areas.Admin.ViewModels.UpdateServiceViewModel

@{
    ViewData["Title"] = "Xidmət məlumatlarnın dəyişdirilməsi";
}
<style>
    .card-header {
        background-color: #4e73df;
        color: white;
    }
</style>
<form asp-action="UpdateConfirm" method="post" enctype="multipart/form-data" asp-controller="Services" asp-area="Admin" id="AddForm">
    <input hidden value="@Model.Services.Id" asp-for="Id" />
    <div class="container" style="overflow-y:scroll;height:550px;">
        <div class="row mb-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">Xidmət adı (müxtəlif dil)</div>
                    <div class="card-body">
                        @if (Model.Langs is { })
                        {
                            for (int i = 0; i < Model.Langs.Count; i++)
                            {
                                if (Model.Services.ServiceNames.Any(a => a.LangId == Model.Langs[i].Id))
                                {
                                    <div class="form-group">
                                        <label for="Name">Ad (@Model.Langs[i].Name)</label>
                                        <input type="text" class="form-control Name@(i)" id="@Model.Langs[i].Id" asp-for="Names" value="@Model.Services?.ServiceNames[i].Name" aria-describedby="emailHelp" placeholder="Xidmət adı">
                                        <small id="emailHelp" class="form-text text-muted">@Model.Langs[i].Name dil açarında xidmət adı.</small>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label for="Name">Ad (@Model.Langs[i].Name)</label>
                                        <input type="text" class="form-control Name@(i)" id="@Model.Langs[i].Id" asp-for="Names" aria-describedby="emailHelp" placeholder="Xidmət adı">
                                        <small id="emailHelp" class="form-text text-muted">@Model.Langs[i].Name dil açarında xidmət adı.</small>
                                    </div>
                                }

                            }
                        }

                    </div>
                </div>
            </div>



        </div>
        <div class="row mb-5">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">Xidmətin Təsviri</div>
                    <div class="card-body">

                        <div class="form-group row">
                            <div class="col-md-10">
                                <label for="Picture">Xidmətin Təsviri (Şəkil)</label>
                                <input type="file" class="form-control" id="Picture" asp-for="Picture">
                                <small id="emailHelp" class="form-text text-muted">Opsionaldır əgər yerləşdirməsəniz default boş şəkil yerləşəcəkdir.</small>
                            </div>
                            <div class="col-md-2">
                                @if (Model.Services.ServicePictures.Count > 0)
                                {
                                    <img class="rounded" width="120" src="~/uploads/@Model.Services.ServicePictures[0].Picture" />
                                    <small class="form-text text-muted">Hal hazırki şəkil</small>
                                }
                                else
                                {
                                    <img class="rounded" width="120" src="~/indexlayout/images/notfoundpicture.jpg">
                                    <small class="form-text text-muted">Hal hazırki şəkil</small>
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="Picture">Tipi</label>
                            <select class="form-control" asp-for="IsPayed">
                                @if (Model.Services.IsPayed == 1)
                                {

                                    <option value=0>Ödənişsiz</option>
                                    <option selected value=1>Ödənişli</option>

                                }
                                else
                                {
                                    <option selected value=0>Ödənişsiz</option>
                                    <option value=1>Ödənişli</option>
                                }

                            </select>
                            <small id="emailHelp" class="form-text text-muted">Ödəniş tipi online olub olmadığını seçin</small>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-5">
            <div class="col-12">
                <div class="card">
                    <input type="hidden" value="@Model.Langs.Count" asp-for="NumberLang" id="langCount" />
                    <div class="card-header">Xidmət haqqında məlumat (müxtəlif dil)</div>
                    <div class="card-body">
                        @if (Model.Langs is { })
                        {
                            for (int i = 0; i < Model.Langs.Count; i++)
                            {
                                if (Model.Services.ServiceInfo.Any(a => a.LangId == Model.Langs[i].Id))
                                {
                                    <div class="form-group">
                                        <label for="Info">Xidmət haqqında məlumat (@Model.Langs[i].Name)</label>
                                        <input type="text" class="form-control Info@(i)" id="Info@(i)" data-index-number="@Model.Langs[i].Id" asp-for="Infos" value="@Model.Services?.ServiceInfo[i].Name" aria-describedby="emailHelp" placeholder="Xidmət haqqında məlumatı">
                                        <small id="emailHelp" class="form-text text-muted">@Model.Langs[i].Name dil açarında xidmət haqqında məlumat.</small>
                                    </div>
                                }
                                else
                                {
                                    <div class="form-group">
                                        <label for="Info">Xidmət haqqında məlumat (@Model.Langs[i].Name)</label>
                                        <input type="text" class="form-control Info@(i)" id="Info@(i)" data-index-number="@Model.Langs[i].Id" asp-for="Infos" aria-describedby="emailHelp" placeholder="Xidmət haqqında məlumatı">
                                        <small id="emailHelp" class="form-text text-muted">@Model.Langs[i].Name dil açarında xidmət haqqında məlumat.</small>
                                    </div>
                                }

                            }
                        }

                    </div>
                    <div class="card-footer text-right" style="float:left;background-color:white !important;">
                        <a asp-controller="Home" asp-action="Services" asp-area="Admin" class="btn btn-danger">Geri</a>
                        <button class="btn btn-primary AddService">Yadda Saxla</button>
                    </div>
                </div>
            </div>

        </div>



    </div>
</form>
@section Scripts{
    <script>
        $(document).ready(function () {
            jQuery.extend(jQuery.validator.messages, {
                required: "Zəhmət olmasa doldurun",
                remote: "Please fix this field.",
                email: "Email formatı düzgün deyil",
                url: "Please enter a valid URL.",
                date: "Please enter a valid date.",
                dateISO: "Please enter a valid date (ISO).",
                number: "Nömrə formatı düzgün deyil",
                digits: "Please enter only digits.",
                creditcard: "Please enter a valid credit card number.",
                equalTo: "Şifrə uyğunlaşmır",
                accept: "Please enter a value with a valid extension.",
                maxlength: jQuery.validator.format("Please enter no more than {0} characters."),
                minlength: jQuery.validator.format("{0} artıq simvol olmalıdır."),
                rangelength: jQuery.validator.format("Please enter a value between {0} and {1} characters long."),
                range: jQuery.validator.format("Please enter a value between {0} and {1}."),
                max: jQuery.validator.format("Please enter a value less than or equal to {0}."),
                min: jQuery.validator.format("Please enter a value greater than or equal to {0}.")
            });
    </script>
}

